body{
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  background: #ffffff url("../images/doodles.png") repeat right top;

}
.divHeader{

}
#header {
  margin: 0;
  border : solid 2px #cccccc;
  background-color: white!important;
  width: 100%;

}
.header-content{
  width: 960px;
  margin: 0 auto;
}
h1, h2, h3{
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}
h1{
  font-size: 30px;
  background: #4aaaa5;
  color: #ffffff;
  padding: 25px;
  width: 40%;

}
h2{
  font-size: 25px;
  color: #4aaaa5;
  padding-bottom: 5px;
  border-bottom: solid 2px #cccccc;
}
h3{
  font-size: 20px;
  color: #4aaaa5;
  padding-bottom: 5px;
  border-bottom: solid 2px #cccccc;
}
aside {
    float: left;
    background: white;
    width:33%;
    height:100px;
    margin-left: 50px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 12px;
  background: #666666;
  border-top: solid 5px #4aaaa5;

}

.content{
  width: 960px;
  margin: 10px auto 70px auto;
}
.main-content{
  color: #777777;
  background: white;
  border: solid 1px #dddddd;
  margin: 20px auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.column1 {
    float: left;
    width: 55%;
    padding: 20px;
    margin-right: 30px;
}
.column2 {
    float: left;
    width: 30%;
    padding: 20px;
}
.head-column1{
  float: left;
  width: 60%;
}
.head-column2{
  float: left;
  width: 30%;
  vertical-align: middle;
  margin-top: 20px;
  font-size: 16px;
}

/*Navigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

li {
    float: left;
    text-align: center;
    vertical-align: center;

}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4aaaa5;
    color: white;
}
#clink li a{
    padding: 10px;
}
#bio-image{
  height:200px;
  width:200px;
  float:left;
  margin-right: 20px;
}
p{
  line-height: 2;
}
.head-column2 li{
  border-right : solid 1px #cccccc;
}
.head-column2 li:last-child { border: 0 }

.full-width{
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  color: #b3b3b3;
}
.form-text{
  height: 200px;
}
.btn-submit{
  background: #4aaaa5;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.float-left{
  float:left;
}
.float-right{
  float: right;
}
.portfolio-image{
  height:200px;
  width: 250px;
}
.portfolio-box{
  position: relative;
  margin-bottom: 50px;
}
.portfolio-box h3 {
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  background: #4aaaa5;
  color: #ffffff;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 980px) {
  .header-content{
    width: 900px;
    margin: 0 auto;
  }

  .content{
    width: 900px;
    margin: 10px auto;
  }

}

@media screen and (max-width: 768px) {
  .header-content{
    width: 668px;
    margin: 0 auto;
  }

  .content{
    width: 668px;
    margin: 10px auto;
  }

  .column1 {
      width: 90%;
      padding: 20px;
      margin: 20px auto;
  }
  .column2 {
      width: 90%;
      padding: 20px;
      margin: 40px auto 90px auto;
  }

  .head-column1{
    float: left;
    width: 50%;
  }
  .head-column2{
    float: right;
    width: 50%;
    vertical-align: middle;
    margin-top: 20px;
    font-size: 16px;
  }

  h1{
    width: 60%;
  }

}

@media screen and (max-width: 640px) {
  .header-content{
    width: 630px;
    margin: 0 auto;
  }

  .content{
    width: 550px;
    margin: 10px auto;
  }

  .head-column1{
    text-align: center;
    width: 100%;
  }
  .head-column2{
    width: 100%;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    margin: 5px auto 5px auto;
  }

  h1{
    width: 100%;
  }
  ul {
    width: 100%;
    margin: auto;
}
li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 75px;
    text-decoration: none;
}
.head-column2 li:first-child { margin-left: 5px;}

.float-left{
float: left;
margin: 0 auto;
}
.float-right{
float: left;
margin: 0 auto;
}
.portfolio-image{
  height:300px;
  width: 480px;
}
.portfolio-box{
  position: relative;
  width: 97%;
  margin-bottom: 50px;
}

}
